@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";
* {
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto';
}
.breadcrumb li{
  margin-left: 0px;
}
.breadcrumb li > span{
  padding-left: 0px;
}
.group{
  margin-left: 5px
}
.group span{
padding: 5px;
font-size: 0.75rem !important; /* 12px */
line-height: 1rem  !important; /* 16px */
}
/* .group span.capitalize{
  padding: 0px;
  } */
  .group >span{
    padding: 5px 8px 5px 8px;
    }
.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}
/* .search input {
  flex-grow: 1;
  padding: 5px;
  padding-left: 40px !important;
  background-color: transparent !important;
} */
.resizer.ltr {
  right: 0;
}

.resizer.rtl {
  left: 0;
}
.breadcrumb > ol > li:first-child > svg {
  display: none;
}

.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: #f9fafb;
  outline: 0px;
}

.left-curve {
  position: absolute;
  bottom: 0px;
  left: -10px;
  height: 10px;
  width: 10px;
  background: #313678;
  display: none;
}

.left-curve::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom-right-radius: 13px;
  background: #f9fafb;
}

.right-curve {
  position: absolute;
  right: -10px;
  bottom: 0px;
  height: 10px;
  width: 10px;
  background: #313678;
  display: none;
}

.right-curve::before {
  content: "";
  right: 0;
  position: absolute;
  width: 10px;
  top: 0;
  height: 10px;
  border-bottom-left-radius: 13px;
  background: #f9fafb;
}
[data-state="active"] > .left-curve,
[data-state="active"] > .right-curve {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-important{
  animation: spin 1s linear infinite !important;
}

.active-menu-icon svg {
  fill: white;
}